<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <title>hengsir找书</title>
    <script th:src="@{/js/jquery.1.9.1.js}"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js }" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>

        *{
            margin: 0px;
            padding: 0px;
        }

        body{
            text-align: center;
        }

        .box{
            margin: 200px 25%;
        }

        span{
            font-size: 33px;
            color: #2b669a;
        }

        .load{
            background:rgba(107,207,253,1);
        }

        .footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 20px;
            background-color: #eee;
            z-index: 9999;
        }


    </style>

</head>
<body>

<!--<nav class="navbar navbar-default navbar-fixed-top" style="background: darkred">-->
<!--<div class="container">-->
<!--<span>请输入关键词后点击</span>-->
<!--</div>-->
<!--</nav>-->

<!--<div id="loading">&lt;!&ndash;加载图片开始&ndash;&gt;

    <div class="col-lg-6 box">
        <div class="input-group ">
            <input type="text" class="form-control" name="bookName" placeholder="输入你想要找的图书...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>&lt;!&ndash; /input-group &ndash;&gt;
    </div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;

</div>--><!--加载图片结束-->
<div class="fuck">
    <img src="wait.gif" alt=""><br>
    <span>这是一条文字</span>
</div>
<div class="footer">
    2019 &copy; 粤ICP备17059426号-1 周宇恒
</div>


<script>
    $("button").click(function(){
        var data = $("input[ name='bookName']").val();
        console.log(data);
        if(data == ""){
            search_null();
        }else{
            search(data);
        }
    });

    function search_null() {
        $("body").append('<nav class="navbar navbar-default navbar-fixed-top" style="background: darkred">'+
            '<div class="container">'+
            '<span>请输入关键词后点击</span>'+
            '</div>'+
            '</nav>');

        setTimeout(function(){
            $("nav").hide();//找到对应的标签隐藏
        },3000)
    }

    function search(data) {
        $("#loading").empty();
        $("#loading").append('<img src="wait.gif">');
        $("body").addClass("load");
        ajax_result(data);
    }

    $("input[ name='bookName']").keydown(function(event){
        if(event.keyCode=="13"){
            var data = $("input[ name='bookName']").val();
            if(data == ""){
                search_null();
            }else{
                search(data);
            }
        }
    });

    function ajax_result(data) {
        var curWwwPath = window.document.location.href;
        //获取主机地址之后的目录，如： proj/meun.jsp
        var pathName = window.document.location.pathname;
        var pos = curWwwPath.indexOf(pathName);
        //获取主机地址，如： http://localhost:8083
        var localhostPath = curWwwPath.substring(0, pos);
        //获取带"/"的项目名，如：/proj
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/')+1);
        $.ajax({
            url:'search',
            type:'post',
            data:{
                bookName:data
            },
            success:function(result){
                if (result.result) {
                    location.href = "/show";
                } else {
                    alert("搜索失败");
                }
            }
        });
    }
</script>

</body>
</html>